<!--
 Last modified by: Patrick Burroughs
 Windows Prog 547
 Last Updated : 10/30/23
-->
<!--Loading dictionary list from Cart-->
@using CSharpest.Classes
@model CSharpest.Classes.CartPageModel

@{
    ViewBag.Title = "Your Cart";
}

<a href="/Storefront/welcome">
    <h3 id="GoBackToStore">[Go to back to Store]</h3>
</a>

<h1>CSharpest Store: Your Cart</h1>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price by Ounce</th>
        <th>Total Price</th>
    </tr>

    @for (int i = 0; i < @Model.Items.Count(); i++)
    {
        <tr>
             <td>@Model.Items[i].Item.Name</td>
             <td>@Model.Items[i].Quantity</td>
             <td>@Model.Items[i].Item.Price</td>
             @* <td>@Model.Items[i].**TOTAL PRICE**</td> *@
         </tr>
    }
</table>




<a href="/Storefront/checkout">
    <h3 id="GoToCheckout">[Go to Checkout]</h3>
</a>

<style>
    h1 {text-align:center;}
    .GoBackToStore {text-align:left;}

    .GoToCheckout {
        text-align: right;
    }

    table {
        border: 2px solid black;
        font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif;
        margin-left: auto;
        margin-right: auto;
        color: #385170;
    }
</style>
