<!--
 Last modified by: Patrick Burroughs
 Windows Prog 547
 Last Updated : 10/30/23
-->
<!--Loading dictionary list from Cart-->
@using CSharpest.Classes
@model CSharpest.Classes.CartPageModel

@{
    ViewBag.Title = "Your Cart";
}

<nav>

    <h1><span>C</span>Sharpest Store!</h1>

    <ul>
        <li class="Desc"><h3>Your one stop shop for sweets!</h3></li>
        
        <li>
            <a href="/Storefront/Checkout">
                <h3 id="GoToCheckout">Checkout</h3>
            </a>
        </li>

        <li>
            <a href="/Storefront/welcome">
                <h3 id="GoToStore">Return to Store</h3>
            </a>
        </li>

    </ul>

</nav>
<hr />
<body>
<h2>Your Cart</h2>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price
            <br />
            (/ oz)</th>
        <th>Subtotals</th>
    </tr>

    @for (int i = 0; i < @Model.Items.Count(); i++)
    {
        <tr>
             <td>@Model.Items[i].Item.Name</td>
             <td>@Model.Items[i].Quantity</td>
             <td>@Model.Items[i].Item.Price.ToString("$0.00")</td>
            <td>@Model.Items[i].TotalPrice.ToString("$0.00")</td>
         </tr>
    }

    <tr>
        <td>Subtotal:</td>
        <td></td>
        <td></td>
        <td>@Model.Subtotal.ToString("$0.00")</td>
    </tr>
</table>
</body>

<hr />

<footer>
    <h1><span>C</span>Sharpest Store!</h1>
</footer>

<style>
    nav {
        background-color: #142d4c;
    }

    body {
        background-color: #ececec;
    }

    /*"Title" main header*/
    h1 {
        text-align: center;
        font-family: Rockwell;
        font-variant: small-caps;
        color: #ececec;
        line-height: 80%;
        font-size: 250%;
    }

    /*For making C in CSharpest larger*/
    span {
        vertical-align: middle;
        font-size: 250%;
        line-height: 100%;
    }

    /*Header Links*/
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        font-family: Rockwell;
        color: #ececec;
    }

    /*All header bar objects*/
    li {
        font-family: Rockwell;
        font-size: 120%;
        color: #ececec;
    }

    /* Text on left side of header */
    li.Desc {
        float: left;
        display: inline-block;
        text-align: center;
        padding: 8px 30px;
        text-decoration: none;
        font-family: Rockwell;
        color: #ececec;
    }

    /*Interactables on right side of header*/
    a {
        float: right;
        display: inline-block;
        text-align: center;
        padding: 8px 30px;
        text-decoration: none;
        font-family: Rockwell;
        color: #ececec;
        transition-duration: 0.4s;
    }

    /*Show that buttons are interactable*/
    a:hover {
        background-color: #385170;
    }

    /*Page Description*/
    h2 {
        font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif;
        font-style: italic;
        font-variant: small-caps;
        text-align:center;
        color: #385170;
    }

    /*Table header*/
    th {
        color: #142d4c;
    }

    /*Columns for Name and Price of items*/
    td:first-child, td:nth-child(3) {
        font-weight: bold
    }

    /* Each item*/
    td {
        text-align: center;
        padding: 10px;
        font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia,serif;
        border-bottom: 1px solid #ddd;
    }
  
    /*Highlight item row when hovering*/
    tr:not(:first-child):hover {
        background-color: #9fd3c7;
    }

    /*Embolden complete subtotal*/
    tr:last-child {
        font-weight:bold;
        border-top:2px double black;
    }

    /*Table formatting*/
    table {
        border: 2px solid black;
        font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif;
        margin-left: auto;
        margin-right: auto;
        color: #385170;
    }

    footer {
        background-color: #142d4c;
    }

</style>
