<!--
 Last modified by: Patrick Burroughs
 Windows Prog 547
 Last Updated : 11/7/23
-->
@using CSharpest.Classes
@model CSharpest.Classes.CheckoutPageModel

@{
    ViewBag.Title = "Checkout";
}

<nav>

    <h1><span>C</span>Sharpest Store!</h1>

    <ul>
        <li class="Desc"><h3>Your one stop shop for sweets!</h3></li>

        <li>
            <a href="/Storefront/welcome">
                <h3 id="GoToStore">Return to Store</h3>
            </a>
        </li>

        <li>
            <a href="/Storefront/cart">
                <h3 id="GoToCart">Return to Cart</h3>
            </a>
        </li>

    </ul>

</nav>

<hr/>
<body>

    <h2>Checkout</h2>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price <br/>
            (/ oz)</th>
        <th>Total Price</th>
    </tr>

    @for (int i = 0; i < @Model.Items.Count(); i++)
    {
        <tr>
            <td>@Model.Items[i].Item.Name</td>
            <td>@Model.Items[i].Quantity</td>
            <td>@Model.Items[i].Item.Price.ToString("$0.00")</td>
            <td>@Model.Items[i].TotalPrice.ToString("$0.00")</td>
        </tr>
    }

    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td>Subtotal:</td>
        <td></td>
        <td></td>
        <td>@Model.Cart.Subtotal.ToString("$0.00")</td>
    </tr>

    <tr>
        <td>Discounts:</td>
        <td></td>
        <td></td>
        <td>@Model.Cart.Discount.ToString("-$0.00")</td>
    </tr>

    <tr>
        <td>Taxes:</td>
        <td></td>
        <td></td>
        <td>@Model.Cart.Taxes.ToString("$0.00")</td>
    </tr>

    <tr>
        <td>Shipping:</td>
        <td></td>
        <td></td>
        <td>$5.99</td>
    </tr>

    <tr>
        <td>Total:</td>
        <td></td>
        <td></td>
        <td>@Model.Cart.Total.ToString("$0.00")</td>
    </tr>
</table>

<hr/>

<p>Please Insert Card Information:</p>

@using (Html.BeginForm("orderConfirmation", "StorefrontController", FormMethod.Post))
{
    <label for="cardNumber">Card Number:</label>
        <input type="text" id="cardNumber" name="cardNumber" placeholder="XXXX XXXX XXXX XXXX (XXX)" size="24">
        <br>
        <br>
    <label for="eMonth">Expiration Month:</label>
        <input type="text" id="month" name="month" placeholder="X(X)" size="2">
        <br>
        <br>
    <label for="eYear">Expiration Year:</label>
        <input type="text" id="year" name="year" placeholder="20XX" size="3">
        <br>
        <br>
    <label for="cvv">CVV:</label>
        <input type="text" id="cvv" name="cvv" placeholder="XXX(X)" size ="4">
        <br>
        <br>
    <label for="cardName">Cardholder Name:</label>
        <input type="text" id="name" name="name" placeholder="Name">
        <br>
        <br>

    <input class ="submission" type="submit" value="Complete Purchase" name="Submission">
}

</body>

<hr />

<footer>
    <h1><span>C</span>Sharpest Store!</h1>
</footer> 

<style>
    nav {
        background-color: #142d4c;
    }

    body {
        background-color: #ececec;
    }


    /*"Title" main header*/
    h1 {
        text-align: center;
        font-family: Rockwell;
        font-variant: small-caps;
        color: #ececec;
        line-height: 80%;
        font-size: 250%;
    }

    /*For making C in CSharpest larger*/
    span {
        vertical-align: middle;
        font-size: 250%;
        line-height: 100%;
    }

    /*Header Links*/
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        font-family: Rockwell;
        color: #ececec;
    }

    /*All header bar objects*/
    li {
        font-family: Rockwell;
        font-size: 120%;
        color: #ececec;
    }

    /* Text on left side of header */
    li.Desc {
        float: left;
        display: inline-block;
        text-align: center;
        padding: 8px 30px;
        text-decoration: none;
        font-family: Rockwell;
        color: #ececec;
    }

    /*Interactables on right side of header*/
    a {
        float: right;
        display: inline-block;
        text-align: center;
        padding: 8px 30px;
        text-decoration: none;
        font-family: Rockwell;
        color: #ececec;
        transition-duration: 0.4s;
    }

    /*Show that buttons are interactable*/
    a:hover {
        background-color: #385170;
    }

    /*Page Description*/
    h2 {
        font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif;
        font-style: italic;
        font-variant: small-caps;
        text-align: center;
        color: #385170;
    }

    /*Small Headers*/
    h4 {
        padding: 20px;
        text-align: left;
        font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif;
        color: #142d4c;
    }

    /*Card Information Statement*/
    p {
        margin-left: 50px;
        font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif;
        font-weight: bold;
        font-size:120%;
        color: #385170;
    }

    /*Labels for card entering area*/
    label {
        font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif;
        color: #385170;
    }

    /*Purchase Submission button*/
    input.submission {
        background-color: #142d4c;
        color: #ececec;
        font-family: 'Palatino Linotype';
        font-weight: bold;
        padding: 8px 20px;
        border: 2px solid black;
        transition-duration: 0.4s;
        font-size:100%;
        cursor: pointer;
    }

    input.submission:hover {
            background-color: #385170;
            
    }

    /*Placeholder text in quantity text boxes*/
    input::placeholder {
        font-family: Rockwell;
        color: #385170;
        opacity:.5;
    }

    /*Form*/
    form {
        margin-left: 50px;
        padding: 20px;
    }

    /*Table header*/
    th {
        color: #142d4c;
        border-bottom: 1px double #d3d3d3;
    }

    /*Columns for Name and Price of items*/
    td:first-child, td:last-child {
        font-weight: bold
    }

    /* Each item*/
    td {
        text-align: center;
        padding: 10px;
        font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia,serif;
        border-bottom: 1px solid #ddd;
    }

    /*Highlight item row when hovering*/
    tr:not(:first-child):hover {
        background-color: #9fd3c7;
    }

    /*Table formatting*/
    table {
        border: 2px solid black;
        font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif;
        margin-left: auto;
        margin-right: auto;
        color: #385170;
    }

    footer {
        background-color: #142d4c;
    }

</style>
