<!--
 Last modified by: Patrick Burroughs
 Windows Prog 547
 Last Updated : 10/30/23
--> 
@using CSharpest.Classes
@model CSharpest.Classes.WelcomePageModel

@{
    ViewBag.Title = "CSharpest Store";
}

<h1>Welcome to the CSharpest Store!</h1>

<a>
    @using (Html.BeginForm("cart", "Storefront", FormMethod.Post))
    {
        <input type="submit" id="SubCart" value="Go to Cart">
        <input type="hidden" id=@Model.CartId name="cartID" value=@Model.CartId />
    }
</a>




<h2>Shop Our Store's Current Inventory:</h2>
<p>Disclaimer: All products sold by the ounce (minimum purchase: 1 oz)</p>

<table class="table">
    <tr>
        <!-- Row headers -->
        <th>Name</th>
        <th>Description</th>
        <th>Price <br/>
            (/oz)</th>
        <th>Stock</th>
        <th>Sale</th>
        <th>Quantity (oz)</th>
        <th>Add to Cart</th>
    </tr>

    <!-- Display each item in their own row -->
    @for (int i = 0; i < @Model.Items.Count(); i++)
    {
        <tr>
            <td>@Model.Items[i].Name</td>
            <td>@Model.Items[i].Description</td>
            <td>@Model.Items[i].Price</td>
            <td>@Model.Items[i].Stock</td>

            @if (Model.Items[i].Bogo)
            {
                <td>
                    BOGO
                </td>
            }
            else
            {
                <td></td>
            }

            @using (Html.BeginForm("Welcome", "StorefrontController", FormMethod.Post))
                {
                <td>
                    <input type="number" id=@Model.Quantity name="Quantity" placeholder="# (oz)" min="0" />
                    <input type="hidden" id=@Model.CartId name="CartID" value=@Model.CartId />
                    <input type="hidden" id=@Model.Items[i].ItemId name="ItemID" value=@Model.Items[i].ItemId />
                </td>
                <td>
                    <input id="SubmitWelcome" type="submit" value="Add to Cart" />
                </td>
                }
        </tr>

    }
</table>

<style>
    body {
        background-color: #ececec;
    }

    <!-- "Title" main header -->
    h1 {
        text-align: center;
        font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif;
        font-variant: small-caps;
        color: #142d4c;
    }

    <!-- Page Description -->
    h2 {
        font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif;
        font-style: italic;
        font-variant: small-caps;
        margin-left: 100px;
        color: #385170;
    }

    <!-- Link to Cart -->
    h3 {
        padding: 50px;
        text-align: right;
        font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif;
        color: #142d4c;
    }

    <!-- Disclaimer -->
    p {
        margin-left: 100px;
        font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif;
        font-weight: bold;
        color: #385170;
    }

    <!-- Table header -->
    th {
        color: #142d4c;
    }

    <!-- Columns for Name and Price of items -->
    td:first-child, td:nth-child(3) {
        font-weight: bold
    }

    <!-- Each item -->
    td {
        text-align: center;
        padding: 10px;
        font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia,serif;
        border-bottom: 1px solid #ddd;
    }

    <!-- Add to cart buttons -->
    button {
        font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif;
        color: #385170;
        font-weight: bold;
    }

    <!-- Placeholder text in quantity text boxes -->
    input::placeholder {
        font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif;
        color: #385170;
    }

    <!-- Highlight item row when hovering -->
    tr:not(:first-child):hover {
        background-color: #9fd3c7;
    }

    <!-- Table formatting -->
    table {
        border: 2px solid black;
        font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif;
        margin-left: auto;
        margin-right: auto;
        color: #385170;
    }
</style>
