<!--
 Last modified by: Savannah Noblitt
 Windows Prog 547
 Last Updated : 10/30/23
--> 
@model CSharpest.Classes.WelcomePageModel;



@{
    ViewBag.Title = "CSharpest Store";
}

<!--Not using this anymore-->
@* <script>
    function addItemToCart(id) {

        let itemId = "#" + id;
        let quantity = document.getElementById(itemId).value;


    }
</script> *@

<h1>Welcome to the CSharpest Store!</h1>

<a href="/Storefront/cart" id="CartLink">
    <h3>[Go to Cart]</h3>
</a>

<h2>Shop Our Store's Current Inventory:</h2>
<p>Disclaimer: All products sold by the ounce (minimum purchase: 1 oz)</p>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <!-- <th>ID</th> -->
        <th>Price <br/>
            (per oz)</th>
        <th>Stock</th>
        <th>Sale</th>
        <th>Quantity (oz)</th>
        <th>Add to Cart</th>
    </tr>

    @foreach (var item in @Model.Items)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>@item.Price</td>
            <td>@item.Stock</td>

            @if (item.Bogo)
            {
                <td>
                    BOGO
                </td>
            }
            else
            {
                <td></td>
            }

            @using (@Html.BeginForm("welcome", "StorefrontController", FormMethod.Post))
                {
                <td>
                    <input type="number" id=@item.Name name="Quantity" placeholder="# (oz)" min="0" />
                    <input type="hidden" id=@Model.CartId name="CartID" value=@Model.CartId />
                    <input type="hidden" id=@item.ItemId name="ItemID" value=@item.ItemId />
                </td>
                <td>
                    <input id="Submit" type="submit" value="Add to Cart" />
                </td>
            </form>

        </tr>

    }
</table>

<style>
    body {
        background-color: #ececec;
    }

    h1 {
        text-align: center;
        font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif;
        font-variant: small-caps;
        color: #142d4c;
    }

    h2 {
        font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif;
        font-style: italic;
        font-variant: small-caps;
        margin-left: 100px;
        color: #385170;
    }

    h3 {
        padding: 50px;
        text-align: right;
        font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif;
        color: #142d4c;
    }

    p {
        margin-left: 100px;
        font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif;
        font-weight: bold;
        color: #385170;
    }

    th {
        color: #142d4c;
    }

    td:first-child, td:nth-child(3) {
        font-weight: bold
    }

    td {
        text-align: center;
        padding: 10px;
        font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia,serif;
        border-bottom: 1px solid #ddd;
    }

    button {
        font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif;
        color: #385170;
        font-weight: bold;
    }

    input::placeholder {
        font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif;
        color: #385170;
    }

    tr:not(:first-child):hover {
        background-color: #9fd3c7;
    }

    table {
        border: 2px solid black;
        font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif;
        margin-left: auto;
        margin-right: auto;
        color: #385170;
    }
</style>
