<!--
Last modified by: Savannah Noblitt
 Windows Prog 547
 Last Updated : 10/29/23
--> 
@model List<CSharpest.Classes.Item>;


@{
    ViewBag.Title = "CSharpest Store";
}

<link href="/Content/Welcome.css" rel="stylesheet" type="text/css" />

<!--Not using this anymore-->
<script>
    function addItemToCart(id) {

        let itemId = "#" + id;
        let quantity = document.getElementById(itemId).value;


    }
</script>




<h1>Welcome to the CSharpest Store!</h1>

<a href="/Storefront/cart" id="CartLink">
    <h3>[Go to Cart]</h3>
</a>

<h2>Shop Our Store's Current Inventory:</h2>
<p>All products sold by the ounce (minimum purchase: 1 oz)</p>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price </br>
            (per oz)</th>
        <th>Stock</th>
        <th>Quantity (oz)</th>
        <th>Add to Cart</th>
    </tr>

    @foreach (var item in @Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>@item.Price</td>
            <td>@item.Stock</td>
            @using (@Html.BeginForm("welcome", "StorefrontController", FormMethod.Post))
                 {
                    <td><input type="text" id="#@item.Name" name="Quantity" value="Quantity Needed" />
                    <input type="hidden" id="#@item.Name" name="CartID" value="@item.ItemId" />

                    <input type="hidden" id="#@item.Name" name="ItemID" value="@item.ItemId" />
                </td>
                    <td>
                        <input id="@item.Name" type="submit" value="Add to Cart" />
                    </td>
                 }            
        </tr>

    }
</table>
