<!--
 Last modified by: Vivian D'Souza
 Windows Prog 547
 Last Updated : 10/24/23
--> 
@model SortedSet<CSharpest.Classes.Item>

@{
    ViewBag.Title = "CSharpest Store";
}

<h1>Welcome to the CSharpest Store!</h1>

<p>Hello from our View Template!</p>

<a href="/Storefront/cart">
    <h3>[Go to Cart]</h3>
</a>

<a href="/Storefront/checkout">
    <h3>[Go to Checkout]</h3>
</a>

<h2>Shop the Store:</h2>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>ID</th>
        <th>Price</th>
        <th>Stock</th>
    </tr>

    @foreach (var item in @Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>@item.ItemId</td>
            <td>@item.Price</td>
            <td>@item.Stock</td>
        </tr>
    }
</table>
