<!--
 Last modified by: Savannah Noblitt
 Windows Prog 547
 Last Updated : 10/31/23
--> 
@using CSharpest.Classes
@model CSharpest.Classes.WelcomePageModel

@{
    ViewBag.Title = "CSharpest Store";
}

<h1>Welcome to the CSharpest Store!</h1>

<a href="/Storefront/cart">
    <h3 id="GoToCart">Go to Cart</h3>
</a>


<h2>Shop Our Store's Current Inventory:</h2>
<p>Disclaimer: All products sold by the ounce (minimum purchase: 1 oz)</p>

<table class="table">
    <tr>
        <!-- Row headers -->
        <th>Name</th>
        <th>Description</th>
        <th>Price <br/>
            (/oz)</th>
        <th>Stock</th>
        <th>Sale</th>
        <th>Quantity (oz)</th>
        <th>Add to Cart</th>
    </tr>



    @foreach (var item in @Model.Items)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>@item.Price</td>
            <td>@item.Stock</td>

            @if (@item.Bogo)
            {
                <td>
                    BOGO
                </td>
            }
            else
            {
                <td></td>
            }

            @using (Html.BeginForm("Welcome", "StorefrontController", FormMethod.Post))
            {
                <td>
                    <input type="number" id=@Model.Quantity name="Quantity" placeholder="# (oz)" min="0" />
                    <input type="hidden" id=@Model.CartId name="CartID" value=@Model.CartId />
                    <input type="hidden" id=@item.ItemId name="ItemID" value=@item.ItemId />
                </td>
                <td>
                    <input id="SubmitWelcome" type="submit" value="Add to Cart" />
                </td>
            }
        </tr>
    }
</table>


    <!-- Display each item in their own row -->
    

<style>
    body {
        background-color: #ececec;
    }

    /*"Title" main header*/
    h1 {
        text-align: center;
        font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif;
        font-variant: small-caps;
        color: #142d4c;
    }

    /*Page Description*/
    h2 {
        font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif;
        font-style: italic;
        font-variant: small-caps;
        margin-left: 100px;
        color: #385170;
    }

    /*Link to Cart*/
    h3 {
        padding: 50px;
        text-align: right;
        font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif;
        color: #142d4c;
    }

    /*Disclaimer*/
    p {
        margin-left: 100px;
        font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif;
        font-weight: bold;
        color: #385170;
    }

    /*Table header*/
    th {
        color: #142d4c;
    }

    /*Columns for Name and Price of items*/
    td:first-child, td:nth-child(3) {
        font-weight: bold
    }

    /* Each item*/
    td {
        text-align: center;
        padding: 10px;
        font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia,serif;
        border-bottom: 1px solid #ddd;
    }

    /*Add to cart buttons*/
    button {
        font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif;
        color: #385170;
        font-weight: bold;
    }

    /*Placeholder text in quantity text boxes*/
    input::placeholder {
        font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif;
        color: #385170;
    }

    /*Highlight item row when hovering*/
    tr:not(:first-child):hover {
        background-color: #9fd3c7;
    }

    /*Table formatting*/
    table {
        border: 2px solid black;
        font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif;
        margin-left: auto;
        margin-right: auto;
        color: #385170;
    }

    
</style>
